<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{task.name}}</h5>
      
      <h6 class="card-subtitle mb-2 text-muted">
        Due date: {{task.due_date | date :'medium'}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">Status: {{task.status}}</h6>
      <p class="card-text">
          {{task.small_description}}
      </p>
      
      <button class="btn btn-success" (click)="markDone()">Done</button>
      <button class="btn btn-primary" (click)="editTask()">Edit</button>
      <button class="btn btn-danger" (click)="deleteTask()">Delete</button>
    </div>
  </div>
  